.button{
    font-family: inherit;
    border: 1px solid transparent;
    background-color: #0f62fe;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.28572;
    letter-spacing: .16px;
    display: inline-flex;
    max-width: 20rem;
    min-height: 2rem;
    height: 1rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.875rem - 3px) 63px calc(0.875rem - 3px) 15px;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    text-align: left;
    text-decoration: none;
    transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
    vertical-align: top;
}

.button .bx--btn__icon {
    position: absolute;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.button:hover{
    background-color: #0552e1;
    color: white;
}